/*Smartphone*/
@media only screen and (max-width : 320px) {
.btn-info1
{
	background-color: #77ccdd !important;
	 font-family: Georgia !important;
    font-style: italic !important;
    color:white !important;
    margin-left: 5%;
  width: 90%;
    font-weight: bold !important;
    display: block !important;
	}	
.left-sidebar
{
	display: none;
}

	.rs
	{
		margin-left: 8%;
		    color: #FFFFFF;
      font-family: hkdc-logo;
    font-size: 125%;
    font-weight: bold;
   
	}
	
	.primary {
   float: none;
   width:100% !important;
}

.content {
    float: none;
}

.secondary {
    float: none;
}



.container .footer {
   background-color: #272727;
  border-bottom: 1px solid #242424;
  clear: both;
  height: 40px;
  margin-top: 43%;
}
.content .login_box {
    background: url("logi.jpg") repeat scroll 0 0 #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 5%;
    margin-left: 15%;
    margin-top: 5%;
    padding: 30px;
    width: 75%;
}
form {
   
    padding-top: 2%;
    width: 100%;
}
.content {
    
    width: 75%;
}	
}



/*Styles for screen 515px and lower*/
@media only screen and (max-width : 800px) {
.btn-info1
{
	background-color: #77ccdd !important;
	 font-family: Georgia !important;
    font-style: italic !important;
    color:white !important;
    margin-left: 5%;
  width: 90%;
    font-weight: bold !important;
    display: block !important;
	}	
.left-sidebar
{
	display: none;
}

.content .login_box {
    background: url("logi.jpg") repeat scroll 0 0 #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 5%;
    margin-left: 15%;
    margin-top: 5%;
    padding: 30px;
    width: 75%;
}


.primary {
   float: none;
   width:100% !important ;
}

.content {
    float: none;
    width:90% !important;
}

.secondary {
    float: none;
    width:90% !important;
}
.hed {
  height: 60px;

}
.bx-wrapper
{
	margin-top: 2% !important ;
	width:90% !important;
}	
}
