<div class="left-sidebar">
						<h2 class="he">Category</h2>
						 <ul id="menu-1" class="caat">
         <li class="cattt"><a href="/Categories/Biographies/">Biographies</a></li>
         <li class="cattt"><a href="/Categories/Business/">Business</a></li>
         <li class="cattt" ><a href="/Categories/Computers/">Computers</a>
            <ul class="subm caat">
               <li class="cattt"><a href="/CCategories/Python/">Python</a></li>
               <li class="cattt"><a href="/CCategories/C++/">C++</a></li>
               <li class="cattt"> <a href="/CCategories/JAVA/">JAVA </a></li>
               <li class="cattt"><a href="/CCategories/C/">C</a></li>
               <li class="cattt"><a href="/CCategories/Networking">Networking</a></li>

            </ul>
         </li>
         <li class="cattt"><a href="/Categories/Fiction/">Fiction</a></li>
         <li class="cattt"><a href="/Categories/Mathematics/">Mathematics</a></li>
         <li class="cattt"><a href="/Categories/Science/">Science</a></li>

      </ul>





					</div>