<div class="left-sidebar">
						<h2 class="he">Category</h2>
						 <ul id="menu-1" class="caat">
         <li class="cattt"><a href="/Categories/Python/">Biographies</a></li>
         <li class="cattt"><a href="/Categories/Cpp/">Business</a></li>
         <li class="cattt" ><a href="/Categories/Computers/">Computers</a>
            <ul class="subm caat">
               <li class="cattt"><a href="/CCategories/Python/">Python</a></li>
               <li class="cattt"><a href="/CCategories/Python/">C++</a></li>
               <li class="cattt"> <a href="/CCategories/Python/">JAVA </a></li>
               <li class="cattt"><a href="/CCategories/Python/">C</a></li>
               <li class="cattt"><a href="/Categories/Python/">Networking</a></li>
               
            </ul>
         </li>
         <li class="cattt"><a href="#">Fiction</a></li>
         <li class="cattt"><a href="#">Mathematics</a></li>
         <li class="cattt"><a href="#">Science</a></li>
         
      </ul>
					
						
						
						
					
					</div>