
  <button type="button" class="btn  btn-info1" data-toggle="collapse" data-target="#demo">Categories</button>
  <div id="demo" class="collapse">
    <div id="accordian" class="panel-group category-products cq"><!--category-productsr-->
					<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/Categories/Computers/">Computers</a></h4>
								</div>
							</div>
							
							
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/Categories/Biographies/">Biographies</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/Categories/Business/">Business</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/Categories/Fiction/">Fiction</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/Categories/Mathematics/">Mathematics</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/Categories/Science/">Science</a></h4>
								</div>
							</div>
							
						</div><!--/category-products-->
					
  </div>
