<div class="footer">
<div class="container">
<nav class="footer-top">
<ul class="list-inline text-center na">
<li ><a href="/about/" class="na">About</a></li>
<li ><a href="/contact/" class="na">Contact</a></li>
<li ><a href="/privacy-policy/" class="na">Privacy Policy</a></li>
<li ><a href="/faq/" class="na">FAQ</a></li>
<li ><a href="//feeds.feedburner.com/foxebook" class="na" >RSS</a></li>
<li ><a href="/dmca/" class="na">DMCA</a></li>
<li><a href="/donate/" class="na" >Donate</a></li>
<li ><a href="/sitemap/" class="na">Sitemap</a></li>
</ul>
</nav>
<div "="" class="row footer-bottom text-center na">Copyright &copy; 2015 <a href="//www.foxebook.net/">Fox Ebook</a>
    </div>
  </div>
</div>