
{% extends "base.html" %}
{% load staticfiles %}
<title>{% block title %}Write With Us{% endblock %}</title>
{% block content %}
<h2 class="bhe" align="center">Write With Us</h2>


<div class="booktitle">
<p>
	<p class="bhe">If you are interested in becoming an author, please get in touch.</p>
	<p class="bhe">You can give us a call , or if you prefer to email us, please include:</p>
	<p class="bhe">–> a personal profile or CV,</p>
	<p class="bhe">–> a description of your experience and deep knowledge in your field in a document of 1 page. </p>
	<p class="bhe">–>We look forward to hearing from you. </p>
	<p class="bhe">Sourabh Bavania<br>
<a href="mailto:sbavania@rediffmail.com">sbavania@rediffmail.com</a><br>
Tel: +91 8447128381</p>
	
</p>

</div>

{% endblock %}
