{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 <title>{% block title %}BavBooks{% endblock %}</title>
 {% block meta %}
 <meta name="description" content="Welcome to BavBooks,BavBooks provides 1000+ free books and ebooks.">
 <meta name="keywords" content="free book,free ebooks,textbook, study book, student, calculus, career, e-books, ebooks, economics, physics, chemistry, biology,IT,,English, mathematics, marketing, organisation, organization, statistics, strategy">
 
 {% endblock %}
 <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='{% static "css/style.css" %}' rel='stylesheet' type='text/css'>
  <link href='{% static "css/style - responsive.css" %}' rel='stylesheet' type='text/css'>
  <link href='{% static "css/normalize.css" %}' rel='stylesheet' type='text/css'>
  <link href='{% static "css/jquery.bxslider.css" %}' rel='stylesheet' type='text/css'>
  <link href='{% static "css/tinycarousel.css" %}' rel='stylesheet' type='text/css'>
   <link href='{% static "css/main.css" %}' rel='stylesheet' type='text/css'>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css">
 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src='{% static "javascript/jquery.bxslider.min.js" %}'></script>
  <script src='{% static "javascript/jquery.tinycarousel.js" %}'></script>
	<script src='{% static "javascript/coursel.js" %}'></script>
	<script src='{% static "javascript/menu.js" %}'></script>
	 <script src='{% static "javascript/jui.js" %}'></script>
	
  

</head>
<body>
	<div class="container-fluid">{% include 'includes/header.html' %}</div>
<div class="container-fluid">
	<div class="row">
		 <div class="col-md-3">
		 	{% include 'includes/cat_responsive.html' %} 
		 	{% include 'includes/cat1.html' %}</div>
        <div class="col-md-6">{% block content %}Welcome to my block{% endblock %}</div>
        <div class="col-md-3"></div>
      </div>
   </div>

 <div class="container-fluid">{% include 'includes/footer.html' %}</div>    
   
</body>
</html>
